@import "../../variables";
section.stand_pic {
  background-color: $color_grey_bg_sections;
  padding: 100px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sublist_img_container {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .stand_pic_content {
      width: 40%;
      display: flex;
      flex-direction: column;
      .stand_pic_heading {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        &::after {
          content: "";
          width: 70px;
          height: 2px;
          background-color: $color_orange;
          display: block;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      .stand_pic_paragraph {
        font-size: 14px;
        color: $color_grey_text;
        margin: 0;
      }
    }
  }
}
@media (max-width: 1200px) {
  section.stand_pic {
    .container {
      width: 90%;
      flex-direction: column;
      .stand_pic_content {
        width: 100%;
        text-align: center;
        .stand_pic_heading {
          &::after {
            margin: 20px auto;
          }
        }
      }
      .stand_pic_img_container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
